@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f7f7f7;
  padding: 0 10px;
}

.timestamp {
  color: #bbb;
  font-size: 0.6875rem;
  padding-top: 5px;
  align-self: flex-end;
}

.sender {
  color: #bbb;
  font-size: 0.6875rem;
  padding-bottom: 5px;
}

.receiver {
  color: #bbb;
  font-size: 0.6875rem;
  padding-bottom: 5px;
}

.baskethunt-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.baskethunt-logo > img {
  border-radius: 0 !important;
}
a {
  text-decoration: none !important;
}

p {
  margin: 0 !important;
}

.wrapper {
  background: #fff;
  width: 450px;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

/* Login & Signup Form CSS Start */
.form {
  padding: 25px 30px;
}
.form header {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.form form {
  margin: 20px 0;
}
.form form .error-text {
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  display: none;
}
.form form .name-details {
  display: flex;
}
.form .name-details .field:first-child {
  margin-right: 10px;
}
.form .name-details .field:last-child {
  margin-left: 10px;
}
.form form .field {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}
.form form .field label {
  margin-bottom: 2px;
}
.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form form .field input {
  outline: none;
}
.form form .image input {
  font-size: 17px;
}
.form form .button input {
  height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: #333;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 13px;
}
.form form .field i {
  position: absolute;
  right: 15px;
  top: 70%;
  color: #ccc;
  cursor: pointer;
  transform: translateY(-50%);
}
.form form .field i.active::before {
  color: #333;
  content: "\f070";
}
.form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}
.form .link a {
  color: #333;
}
.form .link a:hover {
  text-decoration: underline;
}

/* Users List CSS Start */
.dropdown > button {
  background: none;
  border: none;
  color: black;
}

.users {
  padding: 25px 30px;
}
.users header,
.users-list a {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
}
.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}
.users header img {
  height: 50px;
  width: 50px;
}
:is(.users, .users-list) .content {
  display: flex;
  align-items: center;
}
:is(.users, .users-list) .content .details {
  color: #000;
  margin-left: 20px;
}
:is(.users, .users-list) .details span {
  font-size: 18px;
  font-weight: 500;
}
.users header .logout {
  display: block;
  background: #333;
  color: #fff;
  outline: none;
  border: none;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
}
.users .search {
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.users .search .text {
  font-size: 18px;
}
.users .search input {
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}
.users .search input.show {
  opacity: 1;
  pointer-events: auto;
}
.users .search button {
  position: relative;
  z-index: 1;
  width: 47px;
  height: 42px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  background: #fff;
  color: #333;
  outline: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.2s ease;
}
.users .search button.active {
  background: #333;
  color: #fff;
}
.search button.active i::before {
  content: "\f00d";
}
.users-list {
  max-height: 350px;
  overflow-y: auto;
}
:is(.users-list, .chat-box)::-webkit-scrollbar {
  width: 0px;
}
.users-list a {
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-right: 15px;
  border-bottom-color: #f1f1f1;
}
.users-list a:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}
.users-list a img {
  height: 40px;
  width: 40px;
}
.users-list a .details p {
  color: #67676a;
}
.users-list a .status-dot {
  font-size: 12px;
  color: #468669;
  padding-left: 10px;
}
.users-list a .status-dot.offline {
  color: #ccc;
}

/* Chat Area CSS Start */
.chat-wrapper {
  background: #fff;
  width: 95vw;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chat-wrapper img {
  object-fit: cover;
  border-radius: 50%;
}

.chat-area {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.chat-area header {
  display: flex;
  align-items: center;
  padding: 18px 30px;
}
.back-icon {
  color: #333;
  font-size: 18px;
  margin-right: 15px;
}
.chat-area header img {
  height: 45px;
  width: 45px;
  margin: 0 15px;
}

header > .details {
  flex: auto;
}

.chat-area header .details span {
  font-size: 17px;
  font-weight: 500;
}

.chat-area header .chat-img-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-area header .chat-img-container .status-dot {
  position: absolute;
  font-size: 12px;
  color: #468669;
  bottom: 0;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.chat-area header .chat-img-container .status-dot.offline  {
  color: #ccc;
}

.chat-box {
  height: auto;
  flex-grow: 1;
  position: relative;
  padding: 10px 30px 20px 30px;
  background: #f7f7f7;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
    inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
  overflow-y: scroll;
}
.chat-box .text {
  position: absolute;
  top: 45%;
  left: 50%;
  width: calc(100% - 50px);
  text-align: center;
  transform: translate(-50%, -50%);
}
.chat-box .chat {
  margin: 15px 0;
}
.chat-box .chat .details {
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0rem 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .outgoing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.outgoing > .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.incoming > .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chat-box .outgoing .details {
  margin-left: auto;
  max-width: 85%;
}
.outgoing .details {
  background: #333;
  color: #fff;
  border-radius: 10px 0 10px 10px;
}
.chat-box .incoming {
  display: flex;
}
.chat-box .incoming .incoming-img {
  height: 35px;
  width: 35px;
}
.chat-box .incoming .details {
  margin-right: auto;
  margin-left: 10px;
  max-width: 85%;
}
.incoming .details {
  background: #fff;
  color: #333;
  border-radius: 0 10px 10px 10px;
}

.details-wrapper {
  max-width: 50% !important;
  padding: 8px !important;
}

.details img {
  width: 100%;
  border-radius: 6px;
}

.details video {
  width: 100%;
  border-radius: 6px;
}

.details-img {
  display: flex;
  flex-direction: column;
}

.details-img span {
  margin-top: 10px;
  padding-left: 6px;
}

.typing-area {
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}
.typing-area input {
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
}
.typing-area button {
  color: #fff;
  width: 55px;
  border: none;
  outline: none;
  background: #333;
  font-size: 19px;
  cursor: pointer;
  opacity: 0.7;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
}
.typing-area button.active {
  opacity: 1;
  pointer-events: auto;
}

.chat-utilities {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
}
.chat-utilities .utility-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.chat-utilities .utility-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px 0 0 5px;
  background-color: white;
  position: relative;
  margin: 0;
  padding: 0;
}
.chat-utilities .utility-container ul li {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.chat-utilities .utility-container ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.chat-utilities .utility-container ul li img {
  height: 100%;
  opacity: 0.8;
}
.chat-utilities .utility-container ul li.emoji-selector {
  background-color: white;
  border-radius: 1rem;
  cursor: default;
  display: block;
  padding: 0;
  border: 1px solid #eee;
  position: absolute;
  bottom: 0%;
  width: 325px;
  height: 350px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  transition: bottom 0.3s ease, opacity 0.3s ease;
}
.chat-utilities .utility-container ul li.emoji-selector.active {
  bottom: 110%;
  opacity: 1;
  pointer-events: all;
}
.chat-utilities .utility-container ul li.emoji-selector .input-container {
  padding: 1rem;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 5;
}
.chat-utilities .utility-container ul li.emoji-selector .input-container input {
  border-radius: 25px;
  border: 1px solid #eee;
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
}
.chat-utilities .utility-container ul li.emoji-selector ul.emoji-list {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 1rem 1rem;
  border-radius: 0;
}
.chat-utilities .utility-container ul li.emoji-selector ul.emoji-list li {
  height: 35px;
  width: 35px;
  border-radius: 0.25rem;
  font-size: 1.5rem;
}

.bi-emoji-smile {
  width: 30px;
  height: 30px;
  color: #333;
}

.bi-paperclip {
  width: 30px;
  height: 30px;
  color: #333;
}
#preview-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.preview-container-overlay::before {
  background-color: #000;
  opacity: 0.7;
  width: 5000em;
  content: "";
  height: 5000em;
  left: -2500em;
  top: -2500em;
  position: fixed;
}

#preview {
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  z-index: 10;
  align-items: center;
  justify-content: center;
}

#preview-title-bar {
  display: flex;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: #333;
  font-size: 16px;
  padding: 16px 36px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

#title-bar-controls {
  border-radius: 50%;
  font-size: 16px;
}

#close-preview-button {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: black;
  color: white;
  border: none;
  transition: 0.2s;
}

#close-preview-button:hover {
  color: #333;
  background-color: white;
}

#preview-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 14px 36px 25px;
  justify-content: center;
  align-items: center;
}

#previewImageContainer {
  flex-grow: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #f7f7f7;
}

#preview img {
  height: 50vh;
  border-radius: 0;
}

#preview video {
  height: 50vh;
  border-radius: 0;
}

#preview-input {
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px 50px 10px 10px;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 20px;
  font-size: 14px;
  color: var(--color-main);
  letter-spacing: 0.01em;
  width: 100%;
  margin: 20px;
}

#preview-button {
  border-radius: 5px;
  height: auto;
  width: auto;
  align-self: flex-end;
  background-color: #333;
  border: none;
  color: white;
  padding: 10px;
}

#attachmentButton {
  background-color: transparent;
  z-index: 1;
}

/* Activity Log CSS */
.dropdown > button {
  background: none;
  border: none;
  color: black;
}

.activity {
  padding: 25px 30px;
}
.activity header,
.activity-list a {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
}

.activity-list .details {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}
.activity header img {
  height: 50px;
  width: 50px;
}
:is(.activity, .activity-list) .content {
  display: flex;
}

header > .content {
  align-items: center;
}

:is(.activity, .activity-list) .content .details {
  color: #000;
  margin-left: 20px;
}
:is(.activity, .activity-list) .details span {
  font-size: 18px;
  font-weight: 500;
}

.activity-list .content {
  margin-left: 20px;
}

.activity-list .content .details {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 28px;
}



.indicator {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
}

.dot {
  display: flex;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 189, 165);
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
}

.line {
  color: #cbd6e2;
  flex: 1 0 auto;
  border-left: 2px solid currentColor;
  border-top: 0;
  content: " ";
  display: inline-block;
  position: relative;
  width: auto;
}

.activity header .logout {
  display: block;
  background: #333;
  color: #fff;
  outline: none;
  border: none;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
}
.activity .search {
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.activity .search .text {
  font-size: 18px;
}
.activity .search input {
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}
.activity .search input.show {
  opacity: 1;
  pointer-events: auto;
}
.activity .search button {
  position: relative;
  z-index: 1;
  width: 47px;
  height: 42px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  background: #fff;
  color: #333;
  outline: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.2s ease;
}
.activity .search button.active {
  background: #333;
  color: #fff;
}
.search button.active i::before {
  content: "\f00d";
}
.activity-list {
  text-align: center;
  margin-top: 15px;
  height: 60vh;
  overflow-y: auto;
}
:is(.activity-list, .chat-box)::-webkit-scrollbar {
  width: 0px;
}

.session-div-header {
  display: flex;
}

.session-div-arrow {
  color: rgb(0, 145, 174);
  transition: all 150ms ease-out 0s;
}

.session-div-title {
  padding-left: 10px;
}

.activity-list a {
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-right: 15px;
  border-bottom-color: #f1f1f1;
}
.activity-list a:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}
.activity-list a img {
  height: 40px;
  width: 40px;
}
.activity-list a .details p {
  color: #67676a;
}
.activity-list a .status-dot {
  font-size: 12px;
  color: #468669;
  padding-left: 10px;
}
.activity-list a .status-dot.offline {
  color: #ccc;
}

/* Responive media query */

@media screen and (max-width: 576px) {
  body {
    padding: 0;
  }

  .wrapper {
    height: 100vh;
    width: 100%;
    border-radius: 0;
  }

  .chat-wrapper {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }

  .chat-area {
    height: 100vh;
  }
  .form,
  .activity {
    padding: 20px;
  }
  .form header {
    text-align: center;
  }
  .form form .name-details {
    flex-direction: column;
  }
  .form .name-details .field:first-child {
    margin-right: 0px;
  }
  .form .name-details .field:last-child {
    margin-left: 0px;
  }

  .activity header img {
    height: 45px;
    width: 45px;
  }
  .activity header .logout {
    padding: 6px 10px;
    font-size: 16px;
  }
  :is(.activity, .activity-list) .content .details {
    margin-left: 15px;
  }

  .activity-list a {
    padding-right: 10px;
  }

  .chat-area header {
    padding: 15px 20px;
  }
  .chat-box {
    height: auto;
    padding: 10px 15px 15px 20px;
  }
  .chat-box .chat p {
    font-size: 15px;
  }
  .chat-box .outogoing .details {
    max-width: 230px;
  }
  .chat-box .incoming .details {
    max-width: 265px;
  }
  .incoming .details .incoming-img {
    height: 30px;
    width: 30px;
  }
  .chat-area form {
    padding: 20px;
  }

  .chat-utilities .utility-container ul li {
    height: 40px;
    width: 40px;
  }

  .chat-area form input {
    height: 40px;
    width: calc(100% - 48px);
  }
  .chat-area form button {
    width: 45px;
  }

  .details-wrapper {
    max-width: 85% !important;
  }

  .activity-list {
    height: 80vh;
  }
}
